<!DOCTYPE html>
<html>
<head>
  <title>Katrina's app</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Katrina's App</h1>
  <div class="mydiv">
    <a href="/">Home</a>
    <a href="/address">Address</a>
  </div>
  <%= yield %>

</body>
</html>